/* -------part1 responsive------ */
@media (max-width: 500px){
    .nav__container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav{
        z-index: 1;
        height: 7vh;
        margin: 3vw 3vw;
        border-radius: 10vw;
        display: initial;
        display: flex;
    }
    .nav__menu{
        display: none;
    }
    .nav__logo img{
        width: 20vh;
    }
    .nav__menu__icon{
        display: initial;
        width: 70%;
        display: flex;
        justify-content: right;
        padding-right: 2vw;
    }
    .nav__menu__icon i{
        font-size: 4vw;
    }
    .part1__img{
        display: none;
    }
    .part1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .part1__respons__circle{
        display: initial;
    }
    .part1__respons__circle img{
        position: absolute;
        width: 90vh;
        left: -12vw;
        top: -80vw;
        z-index: 0;
    }
    .part1__cont{
        margin-top: 50vw;
    }
    .part1__respons__img{
        display: initial;
        position: absolute;
        top: 10vh;
        z-index: 9;
        width: 50%;
    }
    .part1__respons__img img{
        width: 35vh;
    }
    .part1__cont{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .part1__cont__head{
        text-align: center;
        margin-top: 3vw;
    }
    .part1__h11{
        font-size: 4vw;
    }
    .part1__h12{
        font-size: 5vw;        
    }
    .part1__cont__cont p{
        text-align: center;
    }
    .part1__icon a{
        font-size: 3.5vw;
        border-radius: 5vw;
        padding: 1vw 3vw;
        text-align: center;
    }
    .part1__icon{
        align-items: center;
        margin-top: 2vw;
    }
    .part1__icon i{
        font-size: 4vw;
    }
}
